@charset "UTF-8";

body {
	font-family: serif;
	font-weight: normal;
	font-size: 16px;
	background-color: #ffffff;
}

header {
	background-color: #c1272d;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 80px;
}

div.nav {
	max-width: 800px;
	margin: 0 auto;
}

header h1 {
	color: #fff;
	font-weight: normal;
	font-size: 2.5em;
	padding: 20px 0 20px 0;
	line-height: 1.5em;
	font-family: "dnp-shuei-gothic-gin-std", sans-serif;
}

@media screen and (max-width: 640px) {
	header h1 {
		font-size: 1.3em;
	}
}

h2 {
	position: relative;
	text-align: center;
	font-size: 2em;
	margin-bottom: 20px;
	color: #c1272d;
	font-family: "dnp-shuei-gothic-gin-std", sans-serif;
}

@media screen and (max-width: 640px) {
	h2 {
		font-size: 1.3em;
	}
}

h2::before {
	position: absolute;
	top: 50%;
	z-index: 1;
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background: #000;
	background: linear-gradient(-45deg, transparent, #c5a81c 10%, #c5a81c 90%, transparent);
}

h2 span {
	position: relative;
	z-index: 2;
	display: inline-block;
	padding: 0 20px;
	background-color: #fff;
	text-align: left;
}

h3 {
	color: #333;
	font-size: 20px;
	border-bottom: dashed 2px #c1272d;
	height: 32px; /* mobile */
	text-align: center;
	line-height: 1.5em;
	max-width: 700px;
	margin: 0 auto;
}

.ctcontent {
	margin: 0 auto;
	margin-top: 40px;
	max-width: 800px;
}

@media screen and (max-width: 840px) {
	.ctcontent {
		margin: 0 auto;
		margin-top: 40px;
		width: 90%;
	}
}

#content {
	max-width: 100%;
}

p.text {
	padding: 5px 20px 5px 20px;
	line-height: 1.5em;
	letter-spacing: 0.1em;
	color: #333;
	max-width: 800px;
	margin: 0 auto;
	margin-top: 10px;
	clear: both;
}

p.last {
	margin-bottom: 20px;
}

p a {
	color: #0071bc;
	text-decoration: none;
}

p a:hover {
	color: #0071bc;
	border-bottom: solid 2px #0071bc;
}

p img {
	max-width: 100%;
	height: auto;
}

strong {
	color: #c1272d;
	font-family: "dnp-shuei-gothic-gin-std", sans-serif;
}

footer {
	min-height: 40px;
	background-color: #c1272d;
	text-align: center;
	padding-top: 18px;
}

footer small {
	font-size: 12px;
	color: #fff;
}

.scbtn {
	position: relative;
	overflow: hidden;
	margin-top: 10px;
	padding-bottom: 10px;
}

.scbtn ul {
	list-style-type: none;
	margin-left: 0;
	float: left;
	left: 50%;
	position: relative;
}

.scbtn li {
	float: left;
	margin-top: 4px;
	left: -50%;
	position: relative;
	margin-left: 10px;
}

.pagetop {
  position: fixed;
  bottom: 30px;
  right: 15px;
  z-index: 10000;
}

.pagetop a {
	display: block;
	background-color: #ccc;
	text-align: center;
	color: #222;
	font-size: 12px;
	text-decoration: none;
	padding: 20px 20px;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
	z-index: 10000;
}

.pagetop a:hover {
	display: block;
	background-color: #c5a81c;
	text-align: center;
	color: #fff;
	font-size: 12px;
	text-decoration: none;
	padding: 20px 20px;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
	z-index: 10000;
}